

@font-face { 
font-family: "iconFont";
src: url('../fonts/iconFont.ttf')format('truetype');
}
body{
font-family:'Myriad Hebrew',Arial;
background-color:#EFEFEF;	
}
.cabecera{
text-transform: uppercase;
widht:100%;
padding-top:10px;
padding-bottom:10px;
color:#FFFFFF;
font-size:18px;
text-align:center;
font-family: 'Myriad Hebrew',Arial Narrow, sans-serif;
font-weight:bold;
margin-bottom:20px;
letter-spacing: 2px;
}
#cabeceraVerdé{
background-color:#FCBE31;
border-bottom:4px solid #789E3B;	
}
#cabeceraAzul{
background-color:#3668B1;
border-bottom:4px solid #1C4372;
}
#cabeceraRed{
background-color:#E62239;
border-bottom:4px solid #AF192F;
}
.fondoGris{
background:#EFEFEF;
}


#img{
margin-bottom:20px;
text-align:center;
}
#img img{
    width:70px;
    height: 70px;
}

#img :active{
-webkit-transform:
 scale(0.9);
 }


#imgIns{
margin-top:60px;
margin-bottom:20px;
text-align:left;
float:left
}
#imgIns img{
    width:70px;
    height: 70px;
}

#img span{
text-align:center;
font-family: 'Myriad Hebrew',Arial,Arial Narrow, sans-serif;
font-size:12px;
margin-bottom:10px;
color:#224466;
}
#img2{
	margin-top:20px;
margin-bottom:40px;
text-align:center;
}
#img2 img{
    width:100px;
    height: 100px;
}
#logo{
	
margin-top:20px;
margin-bottom:40px;
text-align:center;
}
#logo img{
    width:150px;
    height:150px;
}


.titulo{
text-align:center;
font-family: 'Myriad Hebrew',Arial,Arial Narrow, sans-serif;
font-size:22px;
margin-bottom:30px;
color:#224466;
}
.pregunta{
text-align:center;
font-family: 'iconFont',Arial,Arial Narrow, sans-serif;
font-size:16px;
margin-bottom:10px;
}
.tablero{
	font-size:14px;
padding:5px;
text-align:center;
border-bottom: 2px solid #6a999f;
border-radius:8px;
margin-top:10px;
margin-bottom:10px;
background-color:#89c0c7;
}
.preguntaEvaluacion{
height:60px;
padding-top:10px;
text-align:center;
font-family: 'iconFont',Arial,Arial Narrow, sans-serif;
font-size:16px;
margin-bottom:10px;
border-radius:8px;
border-bottom: 1px solid #D1D1D1;
background-color:#FFFFFF;
font-weight: bold;
}

.mensajes{
margin-left:60px;
margin-top:10px;
width:60%;
border-radius:8px;
background:#929293;
color:#FFFFFF;
text-align:center;
padding-top:4px;
}
.mensajes div{
background:url(../img/msg.png) left bottom no-repeat;
padding-top:4px;
height:50px;
}

#tituloCateg{
text-align:center;
}
#titleEres{
text-align:center;
}

progress { 
    background-color: #FFFFFF;
   height: 25px;
   padding: 5px;
   width: 100%;
   margin: 50px 0;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
  
}

progress { 
    /* style rules */ 
} 
progress::-webkit-progress-bar { 
    /* style rules */ 
} 
progress::-webkit-progress-value { 
    /* style rules */ 
} 
progress::-moz-progress-bar { 
    /* style rules */ 
}

.destacados{
padding:15px;	
margin-top:20px;
text-align:center;
background-color:#6AC7E4;
}

.puesto{
margin-top:15px;

}



.imagePerfil{
margin-left:20px;
width:60px;
height:60px;
border-radius:70px;
background-color:#AFAFAF;
}

.nombreRanking{
vertical-align:text-center;
width:60%;
}

.trRanking{
border-bottom:1px solid #999999;
}

.moneda{
margin-top:15px;
width:30px;
height:30px;
}

.puntaje{
color:#999999;
vertical-align:text-center;
}

#o{
	font-size:18px;
	font-weight:bold;
margin:10px;
text-align:center;	
}
progress[value] {
/* Eliminamos la apariencia por defecto */
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
/* Quitamos el borde que aparece en Firefox */
border: none;

/* Aplicamos las dimensiones */
width: 100%;
height: 25px;

/* Aplicamos color a la barra */
color: blue;
}

/* Compatibilidad de color en Firefox y Chrome */
progress::-moz-progress-bar { background: #0063a6; }
progress::-webkit-progress-value { background: #0063a6; }

.overlay{
     display: none;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #000;
     z-index:1001;
     opacity:.90;
     -moz-opacity: 0.90;
     filter: alpha(opacity=90);
}

.modal {
     display: none;
     position: absolute;
     top: 22%;
     left: 0%;
     width: 60%;
     height: 55%;
     background: #fff;
     border: #b0b4b6 1px solid;
     z-index:1002;
     overflow: auto;
     border-radius: 5px;
}
#mensaje{
    text-align: center;
     display: none;
     position: absolute;
     top: 40%;
     left: 35%;
     width: 30%;
     height: 10%;
     background: #fff;
     padding-top:80px;
     padding-left:100px; 
     font-family: Arial;
     font-size: 20px;
     background-repeat: no-repeat;
     background-position:30px;
     border: #b0b4b6 0px solid;
     border-radius: 5px;
     z-index:1002;
     overflow: auto;
    -webkit-box-shadow: 4px 10px 13px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 10px 13px -2px rgba(0,0,0,0.3);
    box-shadow: 4px 10px 13px -2px rgba(0,0,0,0.3);
}


.textCuentanos{
width:100%;
height:70%;
}
